body{
  margin: 0px;
  padding: 0px;
  background-color: azure;
}

.wrapper{
  width: 100%;
  max-width: 968px;
}

.container{
  display: flex;
  background-color: '#fff';
}

.box{
  height: 100px;
  width: 100px;
}

.one{
  flex-grow: 1;
  background-color: brown;
}

.two{
  flex-grow: 1;
  background-color: blue;
}

.three{
  flex-grow: 1;
  background-color: green;
}